{% comment %}
  This section is used in the list-collections template to render a list of
  collections.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<h1 class="collection-title">{{ 'collections.title' | t }}</h1>

<div
  class="swiper collections {{ section.settings.grid_item_width }}"
  style="--grid-gap: {{ section.settings.grid_gap }}px"
>
  <div class="swiper-wrapper">
    {% for collection in collections %}
      <div class="swiper-slide">
        <a class="collection-card" href="{{ collection.url }}">
          {% if collection.featured_image %}
            {% render 'image',
              class: 'collection-card__image',
              image: collection.featured_image,
              width: 600,
              height: 600,
              crop: 'center'
            %}
          {% endif %}
          <div class="collection-card__content">
            <p>{{ collection.title }}</p>
            {% if collection.description %}
              <p>{{ collection.description | strip_html | truncatewords: 15 }}</p>
            {% endif %}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="swiper-scrollbar"></div>
</div>

{% schema %}
{
  "name": "Product gallery slider",
  "settings": [
    {
      "type": "range",
      "id": "NumberOfSlides_desktop",
      "label": "Кількість слайдів на ПК",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "NumberOfSlides_tablet",
      "label": "Кількість слайдів на планшеті",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "NumberOfSlides_mobile",
      "label": "Кількість слайдів на мобільному",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "slide_spacing",
      "label": "Відступ між слайдами (px)",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Увімкнути пагінацію",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Увімкнути стрілки навігації",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_scroll",
      "label": "Увімкнути скрол",
      "default": true
    },
    {
      "type": "select",
      "id": "grid_item_width",
      "label": "Ширина карточки колекції",
      "options": [
        { "value": "collections--compact", "label": "Маленька" },
        { "value": "collections--full", "label": "Велика" }
      ],
      "default": "collections--full"
    },
    {
      "type": "range",
      "id": "grid_gap",
      "label": "Відступ між карточками (grid)",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 10
    }
  ],
"presets": [
  {
    "name": "Collection slider"
  }
]

}
{% endschema %}

  {% render 'swiper-init' %}
